$burgundy-purple: linear-gradient(90deg, #DC4066 38.82%, #95515C 89.78%);
$orange-yellow: #FDAB00;
$orange-brown: linear-gradient(90deg, #C76801 0%, #FF7A00 100%);
$mobile--orange-brown: linear-gradient(0deg, #C76801 0%, #FF7A00 100%);
$title-stack: 'Roboto', Arial, Helvetica, sans-serif;