@import variables
*
  box-sizing: border-box
  margin: 0
  padding: 0

html, body 
  width: 100%
  height: 100%
  background: $orange-brown
  

.nav--circle--collection
  z-index: 1
  position: fixed
  display: flex
  flex-direction: row
  gap: 20px

.nav--arrows
  z-index: 1
  position: absolute

#nav--arrows--next
  right: 25px

#nav--arrows--previous
  left: 25px

.bg
  position: absolute
  height: 66%
  width: 80%
  background: url("/assets/homeShoes.jpg") 
  background-size: cover
  border-radius: 10px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

#title
  position: absolute
  font-family: $title-stack
  top: 68%
  left: 3%
  font-size: 15vw
  background: $burgundy-purple
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

@import mobile