@import variables

*
  box-sizing: border-box
  margin: 0
  padding: 0

html, body 
  width: 100%
  height: 100%
  background: $mobile--orange-brown
  

.nav--circle--collection
  position: absolute
  top: 40%
  left: 8px
  display: flex
  flex-direction: column
  gap: 20px
