@import variables
@import mobile
*
  box-sizing: border-box
  margin: 0
  padding: 0

html, body 
  width: 100%
  height: 100%
  background: $mobile--orange-brown
  

.nav--circle--collection
  position: fixed
  top: 50%
  transform: translateY(-50%)
  left: 8px
  display: flex
  flex-direction: column
  gap: 20px

.nav--arrows
  position: absolute
  left: 50%
  transform: translateX(-50%)

#nav--arrows--next
  bottom: 25px

#nav--arrows--previous
  top: 25px

.bg
  position: absolute
  height: 66%
  width: 80%
  background: url("/assets/homeShoes.jpg") 
  background-size: cover
  border-radius: 10px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

#title
  position: absolute
  font-family: $title-stack
  top: 68%
  left: 3%
  font-size: 15vw
  background: $burgundy-purple
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent